<div id='background'>
    <div id='main-body'>
        <div class='column'> 
            <div class="row">
            <button mat-icon-button class='category_button' id='wordstructures' (mouseenter)='playAudio($event)' routerLink='/word-structures-details'></button>
            <button mat-icon-button class='category_button' id='figures-of-speech' (mouseenter)='playAudio($event)' routerLink='/figures-of-speech-details'></button>
            </div>
        </div>
    </div>
    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/home'></button>
    </div>
</div>