<div id='background'>
    <div id='main-body'>
        <div class='column'> 
            <div class="row1">
                <button mat-icon-button class='category_button' id='onomatopoeia' (mouseenter)='playAudio($event)' routerLink='/onomatopoeia-details'></button>
                <button mat-icon-button class='category_button' id='irony' (mouseenter)='playAudio($event)' routerLink='/irony-details'></button>
            </div>
            <div class="row2">
                <button mat-icon-button class='category_button' id='homophones' (mouseenter)='playAudio($event)' routerLink='/homophones-details'></button>
                <button mat-icon-button class='category_button' id='homographs' (mouseenter)='playAudio($event)' routerLink='/homographs-details'></button>
            </div>
        </div>
    </div>
    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/home'></button>
    </div>
</div>