#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
  }

  #onomatopoeia{
    background: url('/../../assets/img/buttons/Placeholder\ button.png') no-repeat scroll transparent;
    background-position: center;
    margin-left: -10vh;
    background-size: 38vh;
    cursor: pointer;
  }

  #irony{
    background: url('/../../assets/img/buttons/Placeholder\ button.png') no-repeat scroll transparent;
    background-position: center;
    margin-left: -10vh;
    background-size: 38vh;
    cursor: pointer;
  }

  #homophones{
    background: url('/../../assets/img/buttons/Placeholder\ button.png') no-repeat scroll transparent;
    background-position: center;
    margin-left: -10vh;
    background-size: 38vh;
    cursor: pointer;
  }

  #homographs{
    background: url('/../../assets/img/buttons/Placeholder\ button.png') no-repeat scroll transparent;
    background-position: center;
    margin-left: -10vh;
    background-size: 38vh;
    cursor: pointer;
  }

  .row1 {
    float: center;
    margin-left: 20vh;
  }

  .row2{
    float: center;
    margin-left: 20vh;
  }

  .category_button{
    width: 38vh;
    height: 26vh;
    margin: 1vh 5vh 0vh 0vh;
    border: none;
    margin-left: auto;
  }

  .column
  {
    padding-top: 40vh;
    padding-left: 10vh;
  }

  img {
      height: 30vh;
      margin: 30vh 0vh 0vh 10vh;
  }